<h6 class="text-uppercase">Nav Tabs Justified</h6>
<hr>
<div class="row">
	<div class="col-lg-12">

	</div>
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<ul class="nav nav-tabs nav-tabs-success nav-justified top-icon">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#tabe-17">	<i class="icon-home"></i>
							<span class="hidden-xs">Credit card</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tabe-18">	<i class="icon-user"></i>
							<span class="hidden-xs">Paypal</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tabe-18">	<i class="icon-user"></i>
							<span class="hidden-xs">CryptoCrypto</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tabe-18">	<i class="icon-user"></i>
							<span class="hidden-xs">Alipay</span>
						</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tabe-19">	<i class="icon-envelope-open"></i>
							<span class="hidden-xs">Edit Account</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tabe-19">	<i class="icon-envelope-open"></i>
							<span class="hidden-xs">Edit Account</span>
						</a>
					</li> -->

				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div id="tabe-17" class="container tab-pane active">
						<h2>Make a Credit Card Payment</h2>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">ADDRESS DETAILS</div>
                    <hr>
                    <form>
                      <div class="form-group row">
                        <label for="input-21" class="col-sm-2 col-form-label">Your Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-21" placeholder="Enter Your Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="input-22" class="col-sm-2 col-form-label">Your billing address</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-22" placeholder="Enter Your Email Address">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="input-23" class="col-sm-2 col-form-label">Mobile</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-23" placeholder="Enter Your Mobile Number">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="input-24" class="col-sm-2 col-form-label">Billing city</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-24" placeholder="Billing city">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="input-25" class="col-sm-2 col-form-label">Billing postal code</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-25" placeholder="Billing postal code">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                          <div class="icheck-material-white">
                            <input type="checkbox" id="user-checkbox5" checked="" />
                            <label for="user-checkbox5">Remember me</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-white px-5"><i class="icon-lock"></i> Register</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
            </div>
            <div class="card">
              <div class="card-header text-uppercase">Card details</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-24 col-lg-12 col-xl-12">
                    <div class="input-group">

                      <input type="text" class="form-control" placeholder="Name on the card">
                    </div>
                  </div>

                </div>
                <div style="padding: 10px;"></div>
                <div class="row">
                  <div class="col-8 col-lg-4 col-xl-4">
                    <div class="input-group">

                      <input type="text" class="form-control" placeholder="Card number">
                    </div>
                  </div>
                  <div class="col-8 col-lg-4 col-xl-4">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="MM/YY">

                    </div>
                  </div>
                  <div class="col-8 col-lg-4 col-xl-4">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Security code">

                    </div>
                  </div>

                </div>


                <!--end row-->


                <!--end row-->

                <!--end row-->
              </div>

                <label class="col-sm-2 col-form-label"></label>

                  <button type="submit" class="btn btn-white px-5"><i class="icon-lock"></i> Register</button>


            </div>
					</div>

					<div id="tabe-18" class="container tab-pane fade">
						<h2>Make a PayPal Payment</h2>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header text-uppercase">Pay</div>
                  <div class="card-body">
                    <button type="button" class="btn btn-white m-1">10$</button>
                    <button type="button" class="btn btn-white m-1">25$</button>
                    <button type="button" class="btn btn-white m-1">50$</button>
                    <button type="button" class="btn btn-white m-1">60$</button>
                    <button type="button" class="btn btn-white m-1">90$</button>
                    <button type="button" class="btn btn-white m-1">100</button>
                    <button type="button" class="btn btn-white m-1">200$</button>
                    <!-- <button type="button" class="btn btn-light m-1">LIGHT</button> -->
                    <div style="padding: 10px;"></div>
                    <button type="button" class="btn btn-success btn-lg btn-block m-1">PRIMARY</button>
                  </div>
                </div>
              </div>
            </div>

					</div>
					<div id="tabe-19" class="container tab-pane fade">
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</div>
					<div id="tabe-20" class="container tab-pane fade">
						<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
						<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
						<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					</div>

				</div>

			</div>

		</div>

	</div>


</div>


